.sumOfValues {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border: 1.5px solid var(--color-grey-4);
  border-radius: var(--radius-1);
  background-color: var(--color-grey-5);
  padding: 14px 16px;
}

.sumOfValues > p,
.sumOfValues > span {
  color: var(--color-grey-1);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
}
